body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(194, 250, 231);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App
{
  width: 50%;
  margin: auto;
}
.underline
{
  height: 0.2rem;
  background-color: black !important;
  width: 10%;
  margin: auto;
  margin-top: -1vh;
  margin-bottom: 4vh;
}
.container
{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1 , 1fr);
  grid-row-gap: 3vh;
}

.single-article
{
  overflow: hidden;
  box-shadow: 2px 2px 34px 5px rgba(0,0,0,0.76);
-webkit-box-shadow: 2px 2px 34px 5px rgba(0,0,0,0.76);
-moz-box-shadow: 2px 2px 34px 5px rgba(0,0,0,0.76);
}
img
{
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}
footer
{
  margin: auto;
  width: 80%;
  align-items: center;
}
.tour-info
{
  display: flex;
  justify-content: space-between !important;
}
p
{
  text-align: justify;
}

.btn
{
  background-color: transparent;
  background: transparent;
  border: none;
  color: blue;
}
.remove-btn
{
  padding: 0.7rem;
  background-color: transparent;
  border: 1px solid rgb(141, 6, 6);
  color: rgb(141, 6, 6);
  margin-bottom: 2vh;
}
.new-container
{
  width: 40%;
  margin: auto;
  text-align: center;
  margin-top: 35vh !important;
}
.btn1
{
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
  padding: 0.7rem;
  font-size: 1.2rem;
}